<div class="container">
<h1 class="text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Kerala districts
</h1>
<div class="row" >
@for (item of districts;track $index){
  <div class="col-4" style="display: flex;">
  <div class="card ms-3 mt-3 p-2" >
  <img  src="{{item.img}}" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">{{item.desc}}</p>
    <a style="background-color: rgb(45, 142, 142);" href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
}

</div>


</div>
