.container{
 


}
.card{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 400px;
  display: flex;
  justify-content: center ;
  width: 18rem;
  height: 30rem;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  background-color: rgb(218, 230, 225);
}

